body {
    background-color:black;
}

#perfil img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
border-collapse: collapse;
text-align: center;
width: 25%;
background-color: white;
font-family: "Bebas Neue";
}

h1, li, h2 , p, label {
    color: white;
    font-family:"Bebas Neue";
    font-size: 20px;
}
.botao {
    text-decoration: none;
    border-radius: 3px;
    width: 140px;
    text-align: center;
    padding: 10px;
    font-family: "Bebas Neue";
    font-size: 20px;
    background-color: #7B7979;
    color: black;
    position: fixed;
    bottom: 880px;
    right: 191px;
}
.botao:hover {
    box-shadow: 2px 2px 2px white;
    animation-name: animacao;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.botao_redes {
    text-decoration: none;
    border-radius: 3px;
    width: 140px;
    text-align: center;
    padding: 10px;
    font-family: "Bebas Neue";
    font-size: 20px;
    background-color: #7B7979;
    color: black;
    position: fixed;
    bottom: 880px;
    right: 30px;
}

.botao_redes:hover{
    box-shadow: 2px 2px 2px white;
    animation-name: animacao;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animacao {
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.05);
    }
}

.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}