body {
    background-color:black;
}

table {
border-collapse: collapse;
text-align: center;
width: 25%;
background-color: white;
font-family: "Bebas Neue";
}

h1, li, h2 , p, label {
    color: white;
    font-family:"Bebas Neue";
}